<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>I've recieved an Invite from <%= @invite.user.name %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="padding: 0; margin: 0; background-color: #FFFFFF; color: #000000;">
    <table border="1" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="border-collapse: colapse;">

            <tr>
              <td bgcolor="#0052F7" align="center" style="padding: 40px 0 30px 0; color: #FFFFFF;">
                <%= link_to root_url, style: "text-decoration: none; color: #FFFFFF;" do %>
                  <%= image_tag 'logo_yoohood_alta.png', alt: "Yoohood Intelligent Curators", width:"300", style:"display: block; object-fit: cover"%>
                  <p style="font-family: Helvetica, sans-serif; font-size: 16px;">Yoohood Intelligent Curators</p>
                <% end %>
              </td>
            </tr>

            <tr>
              <td align="center" style="padding: 20px 0 20px 0;">
                <h4><%= @invite.user.name %> has invited you to:</h4>
              </td>
            </tr>

            <tr>
              <td align="center" style="padding: 10px 0 20px 0">
                <h2><%= @invite.event.title %></h2>
              </td>
            </tr>

            <tr>
              <td align="center">
                <%= image_tag @invite.event.cover, height: 200, width: 350, style: "border: 1px solid black; object-fit: cover; padding: 5px; background-color: #FFFFFF" %>
              </td>
            </tr>

            <tr >
              <td align="center" style="padding: 36px 0 36px 0;">
                <%= link_to "More Info", event_url(@invite.event), style: "padding: 16px 24px 16px 24px; background-color: #000000; margin: 10px 0 10px 0; text-decoration: none; color: #FFFFFF;" %>
              </td>
            </tr>

            <tr>
              <td bgcolor="#000000">
                <p><%= @invite.guest_name %></p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
