<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="chat-header">
        <h4>#<%= @chat_room.name %></h4>
        <p>You're chatting with: <strong style="font-size: 24px"><%= current_user == @chat_room.trade.benefit.event.user ? @chat_room.trade.user.name : @chat_room.trade.benefit.event.user.name %></strong></p></div>
      <div class="messages">
        <% @chat_room.messages.each do |message| %>
          <%= render 'messages/message', message: message, user_is_messages_author: message.user == current_user %>
        <% end %>
      </div>
    <div id="create-message">
      <%= simple_form_for [@chat_room, Message.new] do |f| %>
        <%= f.input :content, label: false %>
      <% end %>
    </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
    App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            const messagesContainer = document.querySelector('.messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView();
          }
        }
      }
    )
  </script>
<% end %>
