<div class="row my-3">
  <% events.each do |event| %>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3" data-fb-event-id="<%= event.fb_event_id %>">

      <%= simple_form_for event, url: fb_events_path, remote: true do |f|%>
        <%= f.input :title, as: :hidden %>
        <%= f.input :start_time, as: :hidden %>
        <%= f.input :end_time, as: :hidden %>
        <%= f.input :description, as: :hidden %>
        <%= f.input :cover, as: :hidden %>
        <%= f.input :fb_event_id, as: :hidden %>
        <%= f.input :ticket_uri, as: :hidden %>
        <%= hidden_field_tag 'admins', adms[event.adm_token].to_json %>
        <%= f.simple_fields_for :places do |nf| %>
          <%= nf.input :name, as: :hidden %>
          <%= nf.input :address, as: :hidden %>
          <%= nf.input :city, as: :hidden %>
          <%= nf.input :state, as: :hidden %>
          <%= nf.input :country, as: :hidden %>
          <%= nf.input :latitude, as: :hidden %>
          <%= nf.input :longitude, as: :hidden %>
        <% end %>

        <%= link_to event do %>
          <div class="card-trip">
            <div class="flex-row d-flex m-4 justify-content-center">
              <%= link_to "remove", root_path, class: 'mr-5 btn btn-danger' %>
              <%= f.submit class: 'btn btn-primary', remote: true %>
            </div>
            <% placeholder_url = "https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&auto=format&fit=crop&w=2467&q=80" %>
            <%= image_tag event.cover.presence ? event.cover : placeholder_url %>
            <div class="card-trip-infos">
              <div class="d-flex justify-content-between">
                <div class="flex-column">
                  <h2><%= event.title %></h2>
                  <h6 class='mt-1'><%= event.places.first.name %></h6>
                </div>
                <div class="flex-column">
                  <h5 class='start-time-day'><%= event.start_time.strftime('%d') %></h5>
                  <p class='start-time-red-month'><%= event.start_time.strftime('%b').upcase %></p>
                </div>
              </div>

              <div class="d-flex flex-column justify-content-end align-items-center mt-2">
                <% if event.places.first.present? %>
                  <div class="event-info d-flex flex-row">
                    <p><%=  event.places.first.city %> |
                    <%=  event.places.first.state %></p>
                  </div>
                  <div class="event-info d-flex flex-row">
                    <p><%=  event.places.first.latitude %> | <%=  event.places.first.longitude %></p>
                  </div>
                <% end %>
                <p style="width: 75%;"><%= truncate(event.description, length: 80) %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
