<div class="row my-3">
  <% events.each do |event| %>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3">
      <%= link_to event do %>
        <div class="card-trip">
          <% placeholder_url = "https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&auto=format&fit=crop&w=2467&q=80" %>
          <%= image_tag event.photo.url.presence ? event.photo.url : placeholder_url %>
          <div class="card-trip-infos">
            <div class="d-flex justify-content-between">
              <div class="flex-column">
                <h2><%= event.title %></h2>
                <h6 class='mt-1'><%= event.location %></h6>
              </div>
              <div class="flex-column">
                <h5 class='start-time-day'><%= event.start_time.day %></h5>
                <p class='start-time-red-month'><%= event.start_time.strftime('%b').upcase %></p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end mt-2">
              <p style="width: 75%;"><%= truncate(event.description, length: 80) %></p>
              <div class="flex-column">
                <% if event.tickets.count.positive? %>
                <p class="text-right">from $</p>
                <p class="price-tag"><%= event.tickets.min { |a, b| a.price <=> b.price }.price / 100.0 %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
