<div class="footer bg-dark d-flex flex-column justify-content-between">
  <div class="d-flex flex-column justify-content-between" id="columns">

    <div class="d-flex flex-column align-items-center" id="footer-social-links">
      <p><%= t('.follow_us_on') %></p>
      <div class="d-flex justify-content-center">
        <a href="https://github.com/jucaesmanhoto/yoohood-app" target="_blank"><i class="fab fa-github p-1"></i></a>
        <a href="https://www.instagram.com/yoohood.fun/" target="_blank"><i class="fab fa-instagram p-1"></i></a>
        <a href="https://www.facebook.com/yoohood/" target="_blank"><i class="fab fa-facebook p-1"></i></a>
        <a href="https://twitter.com/yoohoodco" target="_blank"><i class="fab fa-twitter p-1"></i></a>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center" id="footer-pages">
      <div class="footer-pages-column text-end" >
        <ul>
          <a href=""><li><%= t('.cookies') %> </li></a>
          <a href=""><li><%= t('.help_center') %></li></a>
          <li><%= link_to t('.contact_us'), new_contact_path %></li>
        </ul>
      </div>
      <div class="footer-pages-column text-start">
        <ul>
          <li><%= link_to t('.about_us'), about_path %></li>
          <a href=""><li><%= t('.legal') %></li></a>
          <a href=""><li><%= t('.privacy_police') %></li></a>
        </ul>
      </div>
    </div>

  </div>

  <div class="footer-copyright row justify-content-center mx-0 my-2">
    <p><%= t('.copyright') %></p>
  </div>

</div>
