<div class="container">
  <div class="row justify-content-center">
    <% @event.benefits.each do |benefit| %>
      <%# raise %>
      <%= link_to current_user == @event.user ? edit_benefit_path(benefit) : new_benefit_trade_path(benefit), class: "benefit-card card col-lg-4 mx-2 flex-row card-title justify-content-between", current_user == @event.user ? '' : "data-toggle" => "modal", "data-target" => "#benefit-#{benefit.id}-modal" do %>
        <div class="benefit-quantity"><%= benefit.quantity %> ud.</div>
        <div class="benefit-name"><%= benefit.name %></div>
        <div class="benefit-value"><span><%= benefit.value_in_points %></span>pts</div>
      <% end %>


      <div class="modal" tabindex="-1" role="dialog" id="benefit-<%= benefit.id %>-modal" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                <h3><%= @event.title %></h3>
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="d-row border flex-column p-2">
              <% if current_user.present? && current_user.points >= benefit.value_in_points%>
                <span class="badge badge-primary p-2 float-right">
                  balance:
                  <h3 class="mb-0 mt-2"><%= current_user.points %></h3> pts.
                </span>
              <% else %>
                <span class="badge badge-danger p-2 float-right">
                  balance:
                  <h3 class="mb-0 mt-2"><%= current_user.present? ? current_user.points : '' %></h3> pts.
                </span>
              <% end %>
            </div>

            <% if current_user.present? && current_user.points >= benefit.value_in_points %>

              <%= simple_form_for [benefit, @trade] do |f| %>
                <div class="modal-body">
                 <!--  Need to put presence true -->
                 <div class="d-flex justify-content-between">
                  <p><%= benefit.quantity %></p>
                  <p><%= benefit.name %></p>
                  <p><%= benefit.value_in_points %> pts./each</p>
                 </div>
                  <%#= f.input :event_id, as: :hidden %>
                  <%#= f.input :benefit_id,  as: :hidden %>
                  <% max_reclaim = benefit.quantity >= (current_user.points / benefit.value_in_points) ? (current_user.points / benefit.value_in_points) : benefit.quantity %>
                  <%= f.input :quantity, as: :select, collection: (1..max_reclaim).to_a, include_blank: false %>
                </div>
                <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                  <!-- Make button smaller -->
                  <%= f.submit "Change", class: "btn btn-dark align-items-center"%>
                </div>
              <% end %>
            <% else %>
              <% if current_user.nil? %>
                <div class="modal-body p-4">
                  <h4 class="mb-4">Sorry, you're not logged in. </h4>
                  <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %>
                </div>
              <% else %>
                <div class="modal-body p-4">
                  <h4 class="mb-4">Sorry, you don't have enough points. </h4>
                  <p>Invite your friends to this event and increase your balance before you can redeem this benefit.</p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
