<% content_for :meta_title, "#{@event.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_image, cl_image_path(@event.cover) %>
<div class="container padding-top-page-content">
  <div class=" d-flex flex-column align-items-center">

    <div class="card-event col-md-10">

      <div class="card-info">
          <% placeholder_url = "https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&auto=format&fit=crop&w=2467&q=80" %>
          <%= image_tag @event.cover.presence ? @event.cover : placeholder_url, class: "pic", alt: "event cover" %>
              <div class="categories px-3">
                <%# if (@event.start_time < DateTime.now) && (@event.end_time > DateTime.now) %>
                  <%= link_to 'Checkin', new_event_checkin_path(@event) %>
                <%# end %>  
                <% if @event.user == current_user %>
                  <%= render 'categories' %>
                <% else %>
                  <% @event.categories.each do |category| %>
                    <span class="category-choice" style="background-color: <%= category.color_hex  %>" >
                      <%= category.name %>
                    </span>
                  <% end %>
                <% end %>
              </div>
        <div class="card-body">

            <div class="card-title d-flex flex-column" style="display:flex; justify-content:space-between">
              <h2 class="p-2 font-weight-bold">
                <%= @event.title %>
              </h2>
              <div class="benefits">
                <%= render 'benefit_card' %>
              </div>
              <% if @event.user == current_user %>
                <%= link_to "+ Add a benefit", new_event_benefit_path(@event), class: 'btn btn-dark' %>
              <% end %>
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#inviteModal"><strong>Invite a friend</strong></button>
              <a class="btn btn-success" href="https://qrcodescan.in/">Check-in</a>
          </div>
          <p class="badge badge-dark text-wrap">Localização: <%= @event.places.first.address %></p>
          <p><%= @event.description %></p>
        </div>
      </div>

      <div class="map" id="map" data-markers="<%= @markers.to_json %>"data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <%= link_to "Back", events_path, class: "my-4 btn btn-outline-light float-left" %>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="inviteModal">
  <div class="modal-dialog" role="document">
    <%= simple_form_for @invite, url: event_invites_path(@event), method: :post do |f| %>
    <div class="modal-content invite-box">
      <div class="modal-header">
        <div class="d-flex-flex-column">
          <p class="modal-title text-black">Invite a friend to</p>
          <h2 class="modal-title text-align-center text-black"><%= @event.title %></h2>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--  Need to put presence true -->
        <%= f.input :guest_name, label: "NAME", placeholder: "John Doe" %>
        <%= f.input :guest_email, label: "E-MAIL", placeholder: "johndoe@gmail.com" %>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <!-- Make button smaller -->
        <%= f.submit "Send", class: "btn btn-dark align-items-center"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
