<div class="container" id="home-page">
  <div class="banner d-flex align-items-center">
    <video autoplay muted loop style="z-index: -2;">
      <source src="video.mp4" type="video/mp4">
    </video>
    <div class="container">
      <div class="banner-content">
        <h1 class="text-center pb-1 mb-2 text-white header_one"><%= t(".banner_title_html") %></h1>

        <form class="form-row align-items-center justify-content-center" action="/events">
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputGroupEvent"><%= t('.event') %></label>
            <input type="text" class="form-control" type="text" name="title_description" placeholder="<%= t('.event_or_artist')%>">
          </div>

          <div class="col-sm-3 my-1 p-1">
            <label class="sr-only" for="inlineFormInputDate"><%= t('.date')%></label>
            <input type="date" class="datepicker form-control" name="date" id="search_date" placeholder="<%= t('.date')%>">
          </div>

          <div class="col-sm-3 my-1 p-1">
            <label class="sr-only" for="inlineFormInputGroupCity"><%= t('.city') %></label>
            <input id="city_input" type="text" class="form-control" type="text" name="city" placeholder="<%= t('.city_or_venue')%>">
          </div>

          <div class="col-sm-9 my-1 p-1">
            <input type="submit" class="btn btn-primary btn-block" value="<%= t('.search')%>">
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="anchor-text d-flex flex-column align-items-center pt-5 mb-2" id="scrollAnchor">
<a href="" class="pt-2 scroll"><%= t('.browse_events') %></a>
<i class="fa fa-angle-down scroll-icon"></i>
</div>

<!--<div class="container">-->
  <!--<h4 class="subheading pt-4 my-1 mb-2 text-white" id="near_events"><%#= @city.present? ? "In #{@city}" : 'Near you' %></h4>-->
  <%#= render 'shared/event_card', events: @events %>
<!--</div>-->

<div class="mx-3">
  <h4 class="subheading my-1 mb-2 text-white"><%= t('.events_today') %></h4>
  <%= render 'shared/event_card', events: @events_today %>

  <h4 class="subheading my-1 mb-2 text-white"><%= t('.coming_up') %></h4>
  <%= render 'shared/event_card', events: @events_coming_up %>

  <h4 class="subheading my-1 mb-2 text-white"><%= t('.new_events') %></h4>
  <%= render 'shared/event_card', events: @events_recent %>

  <h4 class="subheading mt-5 mb-2 text-white"><%= t('.more_events') %></h4>
  <%= render 'shared/event_card', events: @events_diff %>
  <%= link_to events_path do %>
  <div class="d-flex justify-content-center">
    <button class="btn btn-outline-light deco-none mb-5"><%= t('.see_more') %></button>
  </div>
  <% end %>
</div>

