<div class="container" id="home-page">
  <div class="banner d-flex align-items-center">
    <video autoplay muted loop style="z-index: -2;">
      <source src="video.mp4" type="video/mp4">
    </video>
    <div class="container">
      <div class="banner-content">
        <h1 class="text-center pb-1 mb-2 text-white header_one">Find the <strong class="text-primary">perfect</strong> event for <strong class="text-primary">you</strong></h1>

        <form class="form-row align-items-center justify-content-center" action="/events">
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputGroupEvent">Event</label>
            <input type="text" class="form-control" type="text" name="title_description" placeholder="event or artist">
          </div>

          <div class="col-sm-3 my-1 p-1">
            <label class="sr-only" for="inlineFormInputDate">date</label>
            <input type="date" class="datepicker form-control" name="date" id="search_date" placeholder='date'>
          </div>

          <div class="col-sm-3 my-1 p-1">
            <label class="sr-only" for="inlineFormInputGroupCity">City</label>
            <input id="city_input" type="text" class="form-control" type="text" name="city" placeholder="city, zipcode or venue">
          </div>

          <div class="col-sm-9 my-1 p-1">
            <input type="submit" class="btn btn-primary btn-block" value="Search">
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="anchor-text d-flex flex-column align-items-center pt-5 mb-2" id="scrollAnchor">
<a href="" class="pt-2 scroll">Browse events</a>
<i class="fa fa-angle-down scroll-icon"></i>
</div>

<div class="container">
  <h4 class="subheading pt-4 my-1 mb-2 text-white" id="near_events"><%= @city.present? ? "In #{@city}" : 'Near you' %></h4>
  <%= render 'shared/event_card', events: @events %>
</div>

<div class="container">
  <h4 class="subheading my-1 mb-2 text-white">New events</h4>
  <%= render 'shared/event_card', events: @events_recent %>
</div>

<div class="container">
  <h4 class="subheading my-1 mb-2 text-white">Events today</h4>
  <%= render 'shared/event_card', events: @events_today %>
</div>

<div class="container">
  <h4 class="subheading mt-5 mb-2 text-white">More Events</h4>
  <%= render 'shared/event_card', events: @events_diff %>
  <%= link_to events_path do %>
  <div class="d-flex justify-content-center">
    <button class="btn btn-outline-light deco-none mb-5">See More</button>
  </div>
  <% end %>
</div>

