<div class="container px-5 mt-2" id="profile-container">
  <div class="d-flex">
    <div class="flex-grow-1 d-flex flex-column align-items-center">
      <div class="flex-row w-100 d-flex justify-content-center px-5 pb-4">
        <div class="name-and-edit-link text-center flex-grow-1">
          <%= link_to edit_user_registration_path do %>
          <div class="">
          <h1 class="d-inline-flex mr-2"><%= current_user.name.capitalize%></h1>
          <i class="fas fa-pencil-alt"></i>
          </div>
          <% end %>

        </div>
        <div class="d-flex flex-column profile-user-points">
          <p><%= t('.your_balance') %></p>
          <h4 class="text-center mt-2"><%= current_user.points %></h4>
        </div>
      </div>

      <div class="flex-row row w-100 p-4">
        <div class="col-12 col-sm-4">
          <h4 class="text-center"><%= t('.accepted_invites') %></h4>
          <div class="invites">
          <% if current_user.invites.empty? %>
            <div class="card invites-card p-3 pl-4 my-1">
              <h4><%= t('.placeholder_to_no_invites') %></h4>
            </div>
          <% else %>
            <% @accepted_invites.each do |invite| %>
              <div class="card invites-card p-2 pl-4 my-1">
                <p class="mb-2"><%= t('.accepted_to', guest_name: invite.guest_name) %></p>
                <h4><%= invite.event.title %></h4>
                <!-- <p><%#= invite.created_at.strftime('%H:%M - %a, %d %b %Y') %></p> -->
                <!-- <p><strong>50</strong> points added to your balance! <%#= %w[ðŸŽ‰ðŸŽ‰ ðŸ˜„ðŸŽ‰ ðŸ˜ðŸŽ‰].sample %></p> -->
                <span class="badge badge-primary float-right"><%= t('.fifty_points') %></span>

              </div>
            <% end %>
          <% end %>
        </div>
        </div>

        <div class="col-12 col-sm-4">
          <h4 class="text-center"><%= t('.redeemed_benefits') %></h4>
          <div class="invites">
          <% if current_user.trades.empty? %>
            <div class="card invites-card p-3 pl-4 my-1">
              <h4><%= t('.placeholder_to_no_benefits') %></h4>
            </div>
          <% else %>
            <% current_user.trades.each do |trade| %>
              <%= link_to trade_path(trade) do %>
                <div class="card trade-card p-2 pl-4 my-1">
                  <p class="mb-2"><%= t('.trade_description', quantity: trade.quantity, benefit: trade.benefit.name) %></p>
                  <h4><%= trade.benefit.event.title %></h4>
                  <!-- p><%#= trade.benefit.event.start_time.strftime('%H:%M - %a, %d %b %Y') %></p> -->
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        </div>


        <div class="col-12 col-sm-4">
          <h4 class="text-center"><%= t('.check_ins') %></h4>
          <div class="invites">
            <% if current_user.checkins.empty? %>
              <div class="card invites-card p-3 pl-4 my-1">
                <h4><%= t('.earn_points') %></h4>
              </div>
            <% else %>
              <% current_user.checkins.each do |checkin| %>
                  <div class="card checkin-card p-2 pl-4 my-1">
                    <h4 class="mb-2 mt-1"><%= checkin.event.title %></h4>
                    <p><%=checkin.review%></p>
                    <p> <%= "â­" * checkin.rating%> </p>
                    <p class="pt-2"><%= checkin.created_at.strftime('%H:%M - %a, %d %b %Y') %></p>
                  </div>
              <% end %>
            <% end %>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
