<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>You've recieved an Invite from <%= @invite.user.name %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="padding: 0; margin: 0; background-color: #FFFFFF; color: #ffffff;">
      <table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;" background="https://res.cloudinary.com/djxa4ytky/image/upload/v1576102043/bg_yoohood_1_mt2ecq.png">


        <tr height="120px">
         <td align="center" style="padding: 30px 20px 10px 20px;">
          <%= link_to root_url, style: "text-decoration: none; color: #FFFFFF;" do %>
            <%= image_tag "https://res.cloudinary.com/djxa4ytky/image/upload/v1575993268/logo_yoohood_alta_sjwigk.png", alt: "Yoohood Intelligent Curators", width:"60%", style:"object-fit: cover"%>
            <p style="margin: -8px 0 0 0; font-family: Montserrat, Helvetica, sans-serif; font-size: 16px;">Yoohood Intelligent Curators</p>
          <% end %>
         </td>
        </tr>


        <tr>
         <td cellpadding="0" cellspacing="0" align="center">
          <%= image_tag @invite.event.cover, alt:"Event image", width:"100%", height:"300", style:"object-fit: cover;" %>
         </td>
        </tr>

        <tr>
          <td cellpadding="0" cellspacing="0">
            <p style="font-family: Montserrat, Helvetica, sans-serif; font-weight: 400; font-size: 16px; line-height: 1.3em; margin-top: 35px; margin-left: 35px; margin-bottom: 0;">
              <%= @invite.user.name %> has invited you to:
            </p>
          </td>
        </tr>


        <tr height="120px">
          <td cellpadding="0" cellspacing="0" style="display: flex; align-items: start;">
            <h1 style="font-family: Montserrat, Helvetica, sans-serif; font-weight: bolder; font-size: 36px; text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6); margin-left: 35px; margin-top: 8px; padding-right: 80px;"> <%= @invite.event.title %> </h1>
          </td>
        </tr>


        <tr height="100px">
          <td align="center">
            <%= link_to "More info", invite_url(@invite, token: @invite.token), style:"padding: 10px 24px 10px 24px; background-color: #63c42b; color: #FFFFFF; font-family: Montserrat, Helvetica, sans-serif; font-size: 16px; text-decoration: none;" %>
          </td>
        </tr>

        <tr height="20px" bgcolor="#000000">
          <td align="center">
            <p style="font-family: Montserrat, Helvetica, sans-serif; font-size: 14px; color: #ffffff; font-weight: normal; margin: 0; padding-top: 16px;">follow us:</p>
          </td>
        </tr>

        <tr>
         <td align="center" bgcolor="#000000" style="padding: 8px 0 0 0;">
          <a href="https://www.twitter.com/yoohoodco" target="_blank"><img src="https://res.cloudinary.com/djxa4ytky/image/upload/v1576096779/twitter-64_on1hpe.png" width="30"></a>
          <a href="https://www.facebook.com/yoohood" target="_blank"><img src="https://res.cloudinary.com/djxa4ytky/image/upload/v1576096779/facebook-64_lzfxun.png" width="30" style="margin: 0px 10px 0px 10px;"></a>
          <a href="https://www.instagram.com/yoohood.fun" target="_blank"><img src="https://res.cloudinary.com/djxa4ytky/image/upload/v1576096779/instagram-64_cnznpi.png" width="30"></a>
          <a href="https://github.com/jucaesmanhoto/yoohood-app" target="_blank"><img src="https://res.cloudinary.com/djxa4ytky/image/upload/v1576097945/github-64_zokzhq.png" width="30" style="margin-left: 10px;"></a>
         </td>
        </tr>

        <tr>
          <td align="center" bgcolor="#000000" style="padding: 0 16px 0 16px">
            <p style="font-family: Montserrat, Helvetica, sans-serif; font-size: 10px;">This email was sent by one of our users. If you don't know the sender, please report to contactus@yoohood.fun</p>
          </td>
        </tr>

      </table>
  </body>
</html>


