<h1><%= @trade.user.name %></h1>
<h2>You have requested</h2>
<h4><%= @trade.quantity %>x <%= @trade.benefit.name %></h4>
to: <h3><%= @trade.benefit.event.title %></h3>
<p>You're allways welcome to <%= link_to 'Yoohood', root_url %></p>
