<h1><%= @trade.benefit.event.user.name %></h1>
<h2><%= @trade.user.name %> have requested</h2>
<h4><%= @trade.quantity %>x <%= @trade.benefit.name %></h4>
to: <h3><%= @trade.benefit.event.title %></h3>
Please, send instructions to:
<h2><%= @trade.user.email %></h2>
As soon as possible
<p>Thank you for believe in <%= link_to 'Yoohood', root_url %></p>
